body{
    background: rgb(255, 167, 167);
}

.heading{
    width:80%;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

#camera{
    border: 2px dashed black;
    width: 360px;
    height:300px;
}

#result{
    border: 2px dashed black;
    width: 360px;
    height:300px;
}